<div class="content-container">
    <table>
        <thead>
            <tr>
                <th>ID</th>
                <th>Nome</th>
                <th>Sobrenome</th>
                <th>Data de Nascimento</th>
                <th>Ações</th>
            </tr>
        </thead>
        <tBody>
            <tr>
                <td>1</td>
                <td>André</td>
                <td>Coutinho</td>
                <td>23/06/2001</td>
                <td>
                    <button class="btn-editar">Editar</button>
                    <button class="btn-excluir">Excluir</button>
                </td>
            </tr>

            <tr>
                <td>2</td>
                <td>Lucas</td>
                <td>Wallace</td>
                <td>01/01/1990</td>
                <td>
                    <button class="btn-editar">Editar</button>
                    <button class="btn-excluir">Excluir</button>
                </td>
            </tr>

            <tr>
                <td>3</td>
                <td>Marco</td>
                <td>Monteiro</td>
                <td>01/01/1980</td>
                <td>
                    <button class="btn-editar">Editar</button>
                    <button class="btn-excluir">Excluir</button>
                </td>
            </tr>
        </tBody>
    </table>
    <button class="btn-incluir">Incluir</button>
</div>